@model TrashCollector.Models.Customer
@{
    ViewBag.Title = "Customer";
}

<div class="jumbotron">
    <h1>Hello!</h1>
    <p class="lead">@Html.DisplayFor(model => model.FirstName)</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Change your Pick-Up Day</h2>
        <p>
            Change what day of the week your trash is regualrly collected.
        </p>
        @Html.ActionLink("Change my Pick Up Day", "PickUpChange")
    </div>
    <div class="col-md-4">
        <h2>Request a One-Time Pickup</h2>
        <p>Select a date to have trash collected outside of your regualr pick-up schedule.</p>
        @Html.ActionLink("Request a one-time pick-up", "OneTimeRequest")
    </div>
    <div class="col-md-4">
        <h2>Suspend Service</h2>
        <p>If you won't be needing trash collected for a period of time, you can enter a start and end date to suspend regualr trash pick-ups.</p>
        @Html.ActionLink("Suspend my service", "SuspendService")
    </div>
</div>