body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:cadetblue;
}
p{
    color:aliceblue;
}
.jumbotron{
    background-color: darkcyan;
}
.jumboLink{
    color: aliceblue;
}
label{
    color:aliceblue;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
iframe{
    height: 720px;
    width: 100%;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.CustomerIndexButton{
    background-color:aquamarine;
    padding:20px;
}
.table{
    color:aliceblue;
}
a{
    color:darkcyan;
}
.linkText{
    color:aliceblue;
}
#map{
    height:360px;
    width:100%;
}
